<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Cuisine Me!</title>
    </head>
    <body>
        <div class="container">
            <h1>{{ cuisine.getCuisineName }}</h1>


            {% if restaurants is not empty %}
            <p>Here are the restaurants:</p>
            <ul>
                {% for restaurant in restaurants %}
                    <h2> {{restaurant.getName }} </h2>
                    <li> {{ restaurant.getAddress }} </li>
                    <li> {{ restaurant.getPhone }} </li>
                {% endfor %}
            </ul>
            {% endif %}

            <h2>Add a Restaurant</h2>

            <div class="form-group">
                <form action="/restaurants" method="post">
                    <input id="cuisine_id" type="hidden" name="cuisine_id" value="{{ cuisine.getId }}">

                    <label for="name">Restaurant name:</label>
                    <input type="text" name="name" id="name">

                    <label for="address">Address:</label>
                    <input type="text" name="address" id="address">

                    <label for="phone">Phone:</label>
                    <input type="text" name="phone" id="phone">

                    <button type="submit" class="btn btn-info">Add Restaurant</button>
                </form>
                <form action="/delete_restaurants" method="post">
                    <button type="submit" class="btn btn-danger">Delete Restaurants</button>
                </form>
            </div>
            <p><a href="/">Home</a></p>
        </div>
    </body>
</html>
